<div id="weekly_workout" class="create_workout" style="padding-top: 20px;">
    <div class="container">
        <div class="row">

            <div class="instructions">
                <div class="step">
                    <h3>How to create a workout:</h3>
                </div>
                <div class="step">
                    <span class="badge">1</span>
                    <h1>Select a client.</h1>
                </div>
                <div class="step">
                    <span class="badge">2</span>
                    <h1>Choose a workout template.</h1>
                </div>
                <div class="step">
                    <span class="badge">3</span>
                    <h1>Select a start date.</h1>
                </div>
                <div class="step">
                    <h1>Click Create</h1>
                </div>
            </div>
                  
        </div>
     </div>
</div>