    <div class="span4 social">
        <a href="#" class="circle facebook">
			<%= image_tag "face.png", class:"circle facebook" %>
            
        </a>
         <a href="#" class="circle twitter">
            <%= image_tag "twt.png", class:"circle twitter" %>
        </a>
         <a href="#" class="circle gplus">
            <%= image_tag "gplus.png", class:"circle gplus" %>
        </a>
    </div>
</div>