<div id="section_header" style="min-height: 0;">
    <div class="container">
        <div class="row">
                <div class="section_header">
                    <h5 class="blue">TRAINER TOOLS</h5>
                    <h3>Edit a survey...</h3>
                </div> 
				
				<%= render partial: 'form' %>