        <div id="process">
        <div class="container">
        <div class="section_header">
            <h5 class="blue">TRAIN SMARTER</h5>
            <h3>How CoreHero is Different...</h3>
        </div>
        <div class="row services_circles">
            <div class="span5 description">
                <div class="text active">
                    <h4>We Research Stuff.</h4>
                    <p>
                         Your wellness is the sum total of the actions you take to not only ensure physical health, but as well maintain a healthy emotional, spiritual, and mental well-being. Regular exercise and a healthy diet are incredibly immportant but as important is developing a regiment feeds you entire being. 
                    </p>
                    <p>  
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable.
                    </p>
                </div>
                <div class="text">
                    <h4>Nutrition Research</h4>
                     <p>
                         You wellness it the sum total of the actions you take to not only ensure physical health, but as well maintain a healthy emotional, spiritual, and mental well-being. Regular exercise and a healthy diet are incredibly immportant but as important is developing a regiment feeds you entire being. 
                    </p>
                    <p>  
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable.
                    </p>
                </div>
                <div class="text">
                    <h4>Nutrition Research</h4>
                     <p>
                         You wellness it the sum total of the actions you take to not only ensure physical health, but as well maintain a healthy emotional, spiritual, and mental well-being. Regular exercise and a healthy diet are incredibly immportant but as important is developing a regiment feeds you entire being. 
                    </p>
                    <p>  
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable.
                    </p>
                </div>
            </div>

            <div class="span6 areas">
                <div class="circle active">
                    <%= image_tag "plan.png" %>
                    <span>Research</span>
                </div>
                <div class="circle">
                    <%= image_tag "develop.png" %>
                    <span>Experience</span>
                </div>
                <div class="circle last_circle">
                    <%= image_tag "design.png" %>
                    <span>Nutrition</span>
                </div>
            </div>
        </div>
    </div>
</div>