        <div class="row subtitle dark" style="background: #252528;">
            <div class="container">
                <blockquote>
                    <h2>
                        We have financial consultants to help make better decisions with money.
                        We have legal consultants to help make better decisions about legal matters.
                        It’s about time you have a Health and Wellness Consultant to help you make better decisions for your body.
                    </h2>
                </blockquote>
                 <cite> 
                    &#8212; Phillip J. Ross
                    <h6>Founder and Expert Trainer</h6>
                 </cite>
            </div>
        </div>


    </div>
</div>
</div>