<section id="feature_slider" class="">
    <!-- 
        Each slide is composed by <img> and .info
        - .info's position is customized with css in index.css
        - each <img> parallax effect is declared by the following params inside its class:
        
        example: class="asset left-472 sp600 t120 z3"
        left-472 means left: -472px from the center
        sp600 is speed transition
        t120 is top to 120px
        z3 is z-index to 3
        Note: Maintain this order of params

        For the backgrounds, you can combine from the bgs folder :D
    -->
    <article class="slide" id="showcasing" style="background: url('img/backgrounds/bg_1.jpg') repeat-x top center;">
        <div class="info bottom">
            <h2>Make better decisions.</h2>
            <a href="features.html">START LIVING HEALTHIER.</a>
            <br/>
            <br/>
            <p><button class="btn btn-inverse">Wellness Coaching. <i class="icon-circle-arrow-right icon-white"></i></button></p>
        </div>
    </article>
    <article class="slide" id="showcasing" style="background: url('img/backgrounds/bg_2.jpg') repeat-x top center;">
        <div class="info" style="top: 250px;">
            <h2>Train smarter.</h2>
            <a href="features.html">REDEFINE POSSIBLE.</a>
            <br/>
            <br/>
            <p><button class="btn btn-inverse">One-on-One Training. <i class="icon-circle-arrow-right icon-white"></i></button></p>
        </div>
    </article>
    <article class="slide" id="responsive" style="background: url('img/backgrounds/bg_3.jpg') repeat-x top center;">
        <div class="info">
            <h2>Perform Better.</h2>
            <a href="features.html">FIND A NEW ZONE.</a>
            <br/>
            <br/>
            <p><button class="btn btn-inverse">Strength & Conditioning Coaching. <i class="icon-circle-arrow-right icon-white"></i></button></p>
        </div>
    </article>
    <article class="slide" id="showcasing" style="background: url('img/backgrounds/bg_4.jpg') repeat-x top center;">
        <div class="info" style="top:320px;">
            <h2>Join CoreHero.</h2>
            <a href="features.html">IT'S TIME TO TRY SOMETHING NEW.</a>
            <br/>
            <br/>
            <p><button class="btn btn-inverse">Explore CoreHero. <i class="icon-circle-arrow-right icon-white"></i></button></p>
        </div>
    </article>                
</section>