<!-- FAQs -->
<div id="faq">
    <div class="container">
        <div class="section_header">
            <h5 class="blue">FREQUENTLY ASKED QUESTIONS</h5>
            <h3>What to expect with CoreHero...</h3>
        </div>

        <div class="row">
            <div class="span6 block">
                <div class="box">
                    <p class="title">How long are your contracts?</p>
                    <p class="answ">
                        CoreHero subscriptions range form 30-days to 12-months. Program design and fitness consulting may also be purchsed on a one-time basis. We're flexible, please contact us for any special arrangements.</p>
                </div>
                <div class="box">
                    <p class="title">How do I sign up?</p>
                    <p class="answ">
                        They sign up process is quick and pain-free. Click the link below or give us a call. You will complete a new client  assessment, choose a payment option, and get started designing your program.</p>
                </div>
            </div>

            <div class="span6 block">
                <div class="box">
                    <p class="title">What is meant by unlimited?</p>
                    <p class="answ">
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
                </div>
                <div class="box">
                    <p class="title">Is there a discount for yearly service?</p>
                    <p class="answ">
                        Of course. We believe in incentiving long-term success. Sign up for a year and receive 20% off the monthly rate. We'll bill you in installments or you can receive 30% off when you pay up-front.</p>
                </div>
            </div>
        </div>
    </div>
</div>