<!DOCTYPE html>
<html>
<head>
  <title>CoreheroFirst</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- Begin Javacript Scripts -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/theme.js"></script>

<script type="text/javascript" src="js/index-slider.js"></script>
<!-- End Javacript Scripts -->


</body>
</html>
